node_modules
.env
.venv
dist/
__tests__

# Python
ranking/venv/
ranking/__pycache__/
ranking/**/__pycache__/
*.pyc
*.pyo
*.pyd
.Python

# ML Models
models/
*.txt
*.pkl
*.joblib

.terraform/
*.tfstate
*.tfstate.backup
*.tfvars
.terraform.lock.hcl
